:root {
  --main-color: #10cab7;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
  background-color: #eee;
}
.container {
  padding: 0 15px;
  margin: 0 auto;
}
/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
header {
  padding-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 1;
  box-shadow: 0px -1px 6px black;
}
/* header start */
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

header .links {
  position: relative;
}

/* header .links:hover .icon span:nth-child(2) {
  width: 100%;
} */

header .links:hover .icon span:nth-child(2) {
  width: 100%;
}

.links .icon {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 30px;
  cursor: pointer;
}

.links .icon span {
  width: 100%;
  background-color: black;
  height: 2px;
  margin: 0 0 5px 0;
}
.links .icon span:nth-child(2) {
  width: 50%;
  transition: width 0.3s;
}

.logo {
  width: 70px;
}

header .links ul {
  list-style: none;
  position: absolute;
  right: 0;
  top: calc(100% + 12px);
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  min-width: 200px;
  z-index: 100;
}

.active {
  display: none;
}

header .links ul::before {
  content: "";
  position: absolute;
  border-top: 15px solid transparent;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-bottom: 15px solid #f9f9f9;
  right: 0;
  top: -30px;
}

header .links ul li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  color: #333;
  transition: 0.3s;
}
header .links ul li:not(:last-child) a {
  border-bottom: 1px solid #ddd;
}
header .links ul li a:hover {
  padding-left: 25px;
}
/* header end */
/* landing start */
.landing {
  background-image: url("../images/mountain-bg.jpeg");
  background-size: cover;
  height: calc(100vh - 32px);
  position: relative;
}

.landing .intro-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 320px;
  max-width: 100%;
}

.landing .intro-text h1 {
  color: var(--main-color);
  font-weight: bold;
  font-size: 50px;
  margin: 0;
}
.landing .intro-text p {
  color: #333;
}
/* landing end */
/* feature start */
.features {
  padding: 60px 0;
  background-color: #f6f6f6;
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

.features .container .feat {
  padding: 20px;
  text-align: center;
}

.features .container .feat i {
  color: var(--main-color);
}

.features .container .feat h3 {
  font-weight: 800;
  margin: 30px 0;
}

.features .container .feat p {
  line-height: 1.8;
  color: #777;
  font-size: 17px;
}
/* feature end */
